@tailwind components;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .blur-div {
    @apply bg-white bg-opacity-10 pointer-events-auto;
    transition: opacity 0.15s linear;
    backdrop-filter: blur(5px);
  }
  .focus-div {
    background-color: red;
    color: red;
  }
  .focus-div:hover {
    color: blue;
  }
  .headerStyle {
    @apply items-center bg-pageBG flex justify-between mx-auto p-[2px] sm:py-6;
    height: 45px;
  }

  .drop-npEvent {
    @apply opacity-0 pointer-events-none;
  }
  .drop-downEvent {
    @apply opacity-100 pointer-events-auto;
  }
  .drop-BG {
    @apply hidden sm:block;
  }
  .form-radio {
    @apply h-5 w-5;
  }

  .backdrop {
    will-change: transform;

    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .underline {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--pageText);
  }
  .quizQuestion {
    min-height: 200px;

    width: 600px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    box-shadow: 2px 2px 5px gray;
    background: var(--block);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: 640px) {
    .quizQuestion {
      width: auto;
      word-wrap: break-word;
    }
  }
  .mainDiv {
    height: 90vh;
  }

  .output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50px;
    background: var(--block);
    border: 2px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
  }
  .output-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    max-width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50px;
    background: var(--block);
    border: 2px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
  }

  .answer {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .user-input {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    display: flex;
  }
  .menu-mobile {
    @apply fixed top-0 left-0 w-full max-w-[420px] z-30 h-screen flex flex-col bg-pageBG text-pageText;
  }

  button[type='submit'] {
    background-color: var(--button);
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button[type='submit']:hover {
    background-color: #3e8e41;
  }

  button[type='button'] {
    background-color: var(--button);
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button[type='button']:hover {
    background-color: #3e8e41;
  }
}
